Button,
Label {
    margin: 10px 0px;
}
Label {
    min-width: 75px;
}
.modal-title{
    text-transform: uppercase;
}
.remove-btn {
    margin-right: 10px;
}

.fade-enter {
    opacity: 0.05;
}
.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}
.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0.05;
    transition: opacity 1000ms ease-in;
}
